.banner {
  text-align: center;
  padding: 150px 20px;
  background-size: cover;
  background-position: center;
  color: white;
}
// banners section
.banner-1 {
  background-image: url('/banner/banner1.jpg');
}

.banner-2 {
  background-image: url('/banner/banner2.jpg');
}

.banner-3 {
  background-image: url('/banner/banner3.jpg');
}
